In [1]:
from bs4 import BeautifulSoup
import requests
source = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250').text
page = BeautifulSoup(source, "lxml")

In [2]:
body=page.find('tbody', class_='lister-list')

In [3]:
names=[]
rates=[]

In [4]:
for data in body.find_all('tr'):
    name = data.find('td',class_='titleColumn').a.text
    rate = data.find('td',class_='ratingColumn imdbRating').strong.text
    names.append(name)
    rates.append(rate)

In [5]:
import pandas as pd
imdb = pd.DataFrame()
imdb["Movie Name"] = names
imdb["Ratings"] = rates
imdb

                   Movie Name Ratings
0    The Shawshank Redemption     9.2
1               The Godfather     9.1
2      The Godfather: Part II     9.0
3             The Dark Knight     9.0
4                12 Angry Men     8.9
..                        ...     ...
245                        PK     8.0
246                   Aladdin     8.0
247                     Akira     8.0
248    Swades: We, the People     8.0
249               Kumonosu-jô     8.0

[250 rows x 2 columns]

In [6]:
imdb.to_csv("IMDb Top 250 Movies Ratings.csv", index=False)